<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>hello</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.example.demo.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>areaCheck</servlet-name>
        <servlet-class>com.example.demo.AreaCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>areaCheck</servlet-name>
        <url-pattern>/command/checkArea/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getPoints</servlet-name>
        <servlet-class>com.example.demo.GetPointsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPoints</servlet-name>
        <url-pattern>command/getPoints</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>table</servlet-name>
        <jsp-file>/table.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>table</servlet-name>
        <url-pattern>command/checkArea/table.jsp</url-pattern>
    </servlet-mapping>
</web-app>